.mining-item {
    --element-active-fg-color : var(--element-fg-color);
}

.input-select,
.input-select select {
    color : var(--element-hover-fg-color);
}

.input-select::after {
    opacity: 1;
}

.input-slider.on .input-slider-button {
    border-color : var(--slider-active-fg-color);
}

.password-details-view .password-details-fields input, .password-details-view .password-details-fields textarea