stages:
  - compiling
  - publishing

image: passwords-webextension-builder

Compile Firefox:
  stage: compiling
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
  script:
    - mkdir dist
    - npm ci
    - npm run build:firefox
    - if [ "${CI_COMMIT_REF_NAME}" == "stable" ] ; then sed -i -e "s|.BUILD||g" ./build/manifest.json ; fi
    - if [ "${CI_COMMIT_REF_NAME}" != "stable" ] ; then sed -i -e "s|BUILD|${CI_PIPELINE_ID}|g" ./build/manifest.json ; fi
    - sed -i -e "s|CI_COMMIT_REF_NAME|${CI_COMMIT_REF_NAME}|g" ./build/html/build.html
    - sed -i -e "s|CI_PROJECT_NAME|${CI_PROJECT_NAME}|g" ./build/html/build.html
    - sed -i -e "s|CI_PROJECT_URL|${CI_PROJECT_URL}|g" ./build/html/build.html
    - sed -i -e "s|CI_PIPELINE_ID|${CI_PIPELINE_ID}|g" ./build/html/build.html
    - sed -i -e "s|CI_COMMIT_SHA|${CI_COMMIT_SHA}|g" ./build/html/build.html
    - sed -i -e "s|CI__|CI_|g" ./build/html/build.html
    - mv build dist/firefox-extension
  artifacts:
    expire_in: 1 week
    paths:
      - ./dist/firefox-extension
  only:
    - stable
    - testing

Compile Chrome:
  stage: compiling
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
  script:
    - mkdir dist
    - npm ci
    - npm run build:chrome
    - sed -i -e "s|99999|${CI_PIPELINE_ID}|g" ./build/manifest.json
    - sed -i -e "s|CI_COMMIT_REF_NAME|${CI_COMMIT_REF_NAME}|g" ./build/html/build.html
    - sed -i -e "s|CI_PROJECT_NAME|${CI_PROJECT_NAME}|g" ./build/html/build.html
    - sed -i -e "s|CI_PROJECT_URL|${CI_PROJECT_URL}|g" ./build/html/build.html
    - sed -i -e "s|CI_PIPELINE_ID|${CI_PIPELINE_ID}|g" ./build/html/build.html
    - sed -i -e "s|CI_COMMIT_SHA|${CI_COMMIT_SHA}|g" ./build/html/build.html
    - sed -i -e "s|CI__|CI_|g" ./build/html/build.html
    - mv build dist/chrome-extension
  artifacts:
    expire_in: 1 week
    paths:
      - ./dist/chrome-extension
  only:
    - stable
    - testing

Publish Nightly Firefox:
  stage: publishing
  script:
    - 'export EXT_VERSION=$(node -p "require(\"./dist/firefox-extension/manifest.json\").version")'
    - 'PACKAGE_URL="${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/generic/passwords-webextension-nightly/latest/firefox-webextension-${EXT_VERSION}.xpi"'
    - 'UPDATE_URL="${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/generic/passwords-webextension-nightly/latest/updates.json"'
    - 'sed -i -e "s|\"gecko\": {|\"gecko\":{\"update_url\":\"UPDATE_URL\",|g" ./dist/firefox-extension/manifest.json'
    - 'sed -i -e "s|UPDATE_URL|${UPDATE_URL}|g" ./dist/firefox-extension/manifest.json'
    - 'web-ext sign --channel unlisted --ignore-files updates.json'
    - 'sed -i -e "s|VERSION|${EXT_VERSION}|g" ./dist/firefox-extension/updates.json'
    - 'sed -i -e "s|ARTIFACT_URL|${PACKAGE_URL}|g" ./dist/firefox-extension/updates.json'
    - 'export EXT_FILENAME=$(cd ./dist/firefox-extension/ && ls *.xpi)'
    - 'export SHA_512=$(sha512sum ./dist/firefox-extension/${EXT_FILENAME} | cut -d\  -f 1)'
    - 'sed -i -e "s|SHA_512|${SHA_512}|g" ./dist/firefox-extension/updates.json'
    - 'export CHANGELOG_URL=${CI_PROJECT_URL}/raw/${CI_COMMIT_SHA}/Changelog.md'
    - 'sed -i -e "s|CHANGELOG_URL|${CHANGELOG_URL}|g" ./dist/firefox-extension/updates.json'
    - 'curl --header "JOB-TOKEN: ${CI_JOB_TOKEN}" --upload-file ./dist/firefox-extension/${EXT_FILENAME} "${PACKAGE_URL}"'
    - 'curl --header "JOB-TOKEN: ${CI_JOB_TOKEN}" --upload-file ./dist/firefox-extension/updates.json "${UPDATE_URL}"'
    - 'echo "Firefox Extension package available at ${PACKAGE_URL}"'
  environment:
    name: Testing
  only:
    - testing

Publish Nightly Chrome:
  stage: publishing
  allow_failure: true
  script:
    - 'export WEXT_SHIPIT_CHROME_EXTENSION_ID=${CHROME_EXTENSION_ID_TESTING}'
    - 'shipit chrome dist/chrome-extension'
  environment:
    name: Testing
  only:
    - testing

Publish Nightly Edge:
  stage: publishing
  allow_failure: true
  script:
    - 'export EXT_VERSION=$(node -p "require(\"./dist/chrome-extension/manifest.json\").version")'
    - 'PACKAGE_URL="${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/generic/passwords-webextension-nightly/latest/edge-webextension-${EXT_VERSION}.zip"'
    - 'cd dist/chrome-extension'
    - 'zip -r -9 ../../edge-extension.zip ./*'
    - 'cd ../../'
    - 'curl --header "JOB-TOKEN: ${CI_JOB_TOKEN}" --upload-file ./edge-extension.zip "${PACKAGE_URL}"'
    - 'echo "Edge Extension package available at ${PACKAGE_URL}"'
  environment:
    name: Testing
  only:
    - testing

Publish Stable Firefox:
  stage: publishing
  script:
    - 'rm dist/firefox-extension/updates.json'
    - 'web-ext-submit --channel listed'
  environment:
    name: Stable
  only:
    - stable

Publish Stable Chrome:
  stage: publishing
  script:
    - 'export WEXT_SHIPIT_CHROME_EXTENSION_ID=${CHROME_EXTENSION_ID_STABLE}'
    - 'shipit chrome dist/chrome-extension'
  environment:
    name: Stable
  only:
    - stable

Publish Stable Edge:
  stage: publishing
  allow_failure: true
  script:
    - 'export EXT_VERSION=$(node -p "require(\"./dist/chrome-extension/manifest.json\").version")'
    - 'PACKAGE_URL="${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/generic/passwords-webextension/latest/edge-webextension-${EXT_VERSION}.zip"'
    - 'cd dist/chrome-extension'
    - 'zip -r -9 ../../edge-extension.zip ./*'
    - 'cd ../../'
    - 'curl --header "JOB-TOKEN: ${CI_JOB_TOKEN}" --upload-file ./edge-extension.zip "${PACKAGE_URL}"'
    - 'echo "Edge Extension package available at ${PACKAGE_URL}"'
  environment:
    name: Stable
  only:
    - stable