.panel-section-tabs-button.browser-style {
    height : 100%;
    cursor : pointer;
}

.foldout-container .panel-section-tabs-button.browser-style {
    text-align : left;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border : 0;
}

body #passlink,
body #passlink .passlink-scan-qr,
body #passlink .passlink-connect {
    height: 92vh;
}