body {
    font-size : 11pt;

    &.options {
        max-width : 800px;
        width     : 800px;
    }

    &.mobile.options {
        max-width : 100vw;
        width     : 100vw;
    }
}

#options {
    .account-form fieldset {
        display : block;

        input {
            padding : .5rem;
            width   : 100%;
        }
    }
}