body {
    font-size : 11pt;

    &.options {
        max-width : 400px;
        width     : 400px;
    }
}

#options {
    .account-form fieldset {
        display: block;

        input {
            padding: .5rem;
            width: 100%;
        }
    }
}