body {
    font-size : 11pt;

    &.options {
        max-width : 800px;
        width     : 800px;
    }

    &.popup {
        min-width  : 360px;
        min-height : 360px;
    }

    &.mobile {
        &.popup {
            min-width  : 360px;
            min-height : 360px;
            width      : 100vw;
            margin     : 0 auto
        }

        &.options {
            max-width : 360px;
            width     : 100vw;
            margin    : 0 auto;

            #options .theming {
                grid-template-columns : 1fr;
            }
        }
    }

    input:focus,
    input:active,
    button:focus,
    button:active {
        outline : none;
    }
}

#options {
    .account-form fieldset {
        display : block;

        input {
            padding : .5rem;
            width   : 100%;
        }
    }

    .theming {
        grid-template-columns : auto 360px;

        .theme-preview {
            max-width : 360px;
            width     : 100%;
        }

        .theme-colors {
            .color-setting {
                input {
                    -webkit-appearance : none;
                    height             : 1.5rem;
                    background-color   : transparent;

                    &::-webkit-color-swatch {
                        border : none;
                    }
                }
            }
        }
    }
}