body {
    margin     : 0;
    display    : block;
    box-sizing : border-box;

    &.mobile {
        input,
        select,
        button {
            line-height : 3rem;
            padding     : 0 1rem;
        }
    }

    input,
    select,
    button, {
        font-size: 1rem;
    }
}