@font-face {
    font-family : "OpenDyslexic";
    src         : url('../../fonts/OpenDyslexic/OpenDyslexic-Regular.woff');
    font-weight : normal;
    font-style  : normal;
}

@font-face {
    font-family : "OpenDyslexic";
    src         : url('../../fonts/OpenDyslexic/OpenDyslexic-Bold.woff');
    font-weight : bold;
    font-style  : normal;
}