.theme,
.theme-hover,
.theme-on-hover:hover,
.theme-hover-invert:hover {
    background-color : var(--color-bg);
    outline-color    : var(--color-bg) !important;
    border-color     : var(--color-bg) !important;
    color            : var(--color-fg);
}

.theme-invert,
.theme-hover:hover,
.theme-hover-invert,
.theme-on-hover-invert:hover {
    background-color : var(--color-fg);
    outline-color    : var(--color-fg) !important;
    border-color     : var(--color-fg) !important;
    color            : var(--color-bg);
}

.theme-bg-background { background-color : var(--color-bg) !important; }

.theme-fg-background { background-color : var(--color-fg) !important; }

.theme-bg-text { color : var(--color-bg) !important; }

.theme-fg-text { color : var(--color-fg) !important; }

.theme-bg-border { border-color : var(--color-bg) !important; }

.theme-fg-border { border-color : var(--color-fg) !important; }

.theme-bg-outline { outline-color : var(--color-bg) !important; }

.theme-fg-outline { outline-color : var(--color-fg) !important; }

.theme-button,
.theme-button-invert {
    padding          : 10px;
    cursor           : pointer;
    border           : 1px solid var(--color-bg) !important;
    border-radius    : 3px;
    background-color : var(--color-fg);
    color            : var(--color-bg);
    text-align       : center;

    &:hover {
        background-color : var(--color-bg);
        color            : var(--color-fg);
    }
}

.theme-button-invert {
    background-color : var(--color-bg);
    border-color     : var(--color-bg) !important;
    color            : var(--color-fg);
    &:hover {
        background-color : var(--color-fg);
        color            : var(--color-bg);
    }
}

@keyframes blink-success {
    0%, 49% {
        background-color : $color-green;
        color            : var(--color-fg);
    }
    50%, 100% {
        background-color : var(--color-bg);
        color            : var(--color-fg);
    }
}

@keyframes blink-error {
    0%, 49% {
        background-color : $color-red;
        color            : var(--color-fg);
    }
    50%, 100% {
        background-color : var(--color-bg);
        color            : var(--color-fg);
    }
}