$color-bg : #0082c9;
$color-fg : #fff;
$color-green : #75d13f;
$color-red : #e23d38;

:root {
    --color-fg    : #fff;
    --color-bg    : #0082c9;
    --color-green : #75d13f;
    --color-red   : #e23d38;
}

body.dark {
    --color-fg : #778ca3;
    --color-bg : #0a3d62;
}