//@import "variables";
//@import "theme";

:root {
    /**
     * buttons
     */
    --element-primary-background-color         : #0996f8;
    --element-primary-text-color               : #fff;
    --element-primary-border-color             : #0996f8;
    --element-primary-hover-background-color   : #0670cc;
    --element-primary-hover-text-color         : #fff;
    --element-primary-hover-border-color       : #0996f8;
    --element-secondary-background-color       : #ededed;
    --element-secondary-text-color             : #1a1a1a;
    --element-secondary-border-color           : #ededed;
    --element-secondary-hover-background-color : #dfdfdf;
    --element-secondary-hover-text-color       : #1a1a1a;
    --element-secondary-hover-border-color     : #ededed;

    /**
     * tabs
     */
    --content-primary-background-color         : #0000;
    --content-primary-text-color               : #0996f8;
    --content-primary-border-color             : #0996f8;
    --content-primary-hover-background-color   : rgba(0, 0, 0, 0.06);
    --content-primary-hover-text-color         : #0670cc;
    --content-primary-hover-border-color       : #0670cc;
    --content-secondary-background-color       : #0000;
    --content-secondary-text-color             : #1a1a1a;
    --content-secondary-border-color           : #ededed;
    --content-secondary-hover-background-color : rgba(0, 0, 0, 0.06);
    --content-secondary-hover-text-color       : #1a1a1a;
    --content-secondary-hover-border-color     : #dfdfdf;
    /**
     * Other
     */
    --main-background-color                    : #fff;
    --main-text-color                          : #222426;
    --main-border-color                        : #00000026;
}